.button {
	background-color: var(--pink-200);
	padding: 1.2rem 3.2rem;
	border-radius: 32px;
	display: inline;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	color: var(--white);
  transition: background-color 0.5s ease, transform 0.2s ease;
}

.button:hover,
.form button:hover {
	background-color: var(--pink-hover);
}

.button a {
	text-decoration: none;
	color: var(--white);
	font-weight: 400;
}

.button {
  flex: 1;
}