.card {
	max-width: 32rem;
	height: 27.9rem;
	padding: 5rem 2.4rem;
	margin-bottom: 2.4rem;

	border-radius: 32px;

	text-align: left;
}

.card h1,
.card p,
.card a {
	color: var(--white);
}

.card h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 1.6rem;
}

.card p {
	font-weight: 400;

	margin-bottom: 2.4rem;
}

.links ul {
	list-style-type: disc;
	color: var(--white);
}

.links li {
	display: inline-block;
	margin-right: 0.5rem;
}

.links a {
	font-weight: 300;
}

@media (min-width: 768px) {
	.card {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	.links a:hover {
		font-weight: bold;
	}
}

@media (min-width: 1024px) {
	.card {
		max-width: 35rem;
	}
}
