.card {
	max-width: 35rem;
	height: 40rem;
	padding: 2rem;
	margin-bottom: 2.4rem;
	overflow: hidden;

	border-radius: 32px;

	text-align: left;
}

.card img {
	border-radius: 5px;
}

.card h1,
.card p,
.card a {
	color: var(--white);
}

.card h1 {
	font-family: "Montserrat", sans-serif;
	font-size: 2.4rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 1.6rem;
}

.card p {
	font-weight: 400;

	margin-bottom: 2.4rem;
}

.links {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	gap: 10px;
}

.links button {
	background-color: transparent;
	padding: 1rem;
	border-radius: 5px;
	border: 1px solid var(--white);
	transition: outline-width 0.3s ease;
	cursor: pointer;

	flex: 1;
}

.links button a {
	text-decoration: none;
}

@media (min-width: 768px) {
	.card {
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		padding: 4rem 2rem;
	}

	.links {
		flex-direction: row;
	}

	.links button:hover {
		outline: 1px solid var(--white);
	}
}
