.navigation {
	width: 100%;

	display: flex;
	align-items: center;
	position: relative;
	padding: 1px 0;
}

.brandName {
	color: var(--pink-200);
	font-family: "Montserrat", sans-serif;
	font-size: 1.6rem;
	font-weight: 700;
	font-style: normal;
	line-height: normal;

	text-decoration: none;
}

.burguerIcon {
	border: 0;
	height: 4rem;
	width: 4rem;
	padding: 0.5rem;
	border-radius: 50%;
	background-color: var(--pink-200);
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
	position: absolute;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);

	display: flex;
	align-items: center;
	justify-content: center;
}

.burguerIcon svg {
	color: var(--white);
}

.navigationMenu {
	display: none;

	cursor: pointer;

}

.navigationMenu.expanded {
	display: initial;

	font-size: 2.4rem;

	position: absolute;
	top: 60px;

	flex-direction: column;
	text-align: center;

	width: 100%;
	height: 100vh;
	opacity: 90%;
	background-color: var(--white);
	border-top: 1px solid var(--black);
}

.navigationMenu.expanded ul li {
	list-style-type: none;
	margin: 3.2rem 0;
}

.navigationMenu.expanded ul li a {
	text-decoration: none;
	display: block;
	width: 100%;
	color: var(--black);
}

.navigationMenu.expanded ul li a:hover {
	color: var(--pink-200);
	text-decoration: underline;
}

.navigationMenu ul li a.active {
	color: var(--pink-200);
}

@media (min-width: 768px) {
	.burguerIcon {
		display: none;
	}

	.navigationMenu {
		margin-left: auto;
		display: initial;
	}

	.navigationMenu ul {
		display: flex;
		padding: 0;
	}

	.navigationMenu ul li {
		list-style-type: none;
		margin-left: 4.4rem;
	}

	.navigationMenu ul li a {
		text-decoration: none;
		color: var(--black);

		font-family: "Roboto", sans-serif;
		font-size: 1.4rem;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}

	.navigationMenu ul li a:hover {
		color: var(--pink-200);
		border-bottom: 1px solid var(--pink-200);
	}

	.brandName {
		font-size: 2rem;
	}
}

@media (min-width: 1024px) {
	.navigationMenu ul li {
		margin-left: 6.4rem;
	}

	.navigationMenu ul li a {
		font-size: 1.6rem;
	}
}
