.footer {
	background-color: var(--pink-200);
	padding: 2rem;
	text-align: center;
	color: var(--white);

	width: 100%;
}

/* @media (min-width: 1024px) {
	.footer {
		position: fixed;
		bottom: 0;
	}
} */
