.wrapper {
	max-width: 95rem;
	margin: 0 auto;

	padding: 0 2rem;
}

.hero {
	width: 100%;

	text-align: justify;
}

.hero img {
	width: 35rem;
}

.heroInfo h1 {
	color: var(--blue-200);
	font-family: "Montserrat", sans-serif;
	font-size: 3.2rem;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	margin-bottom: 2.4rem;
}

.heroInfo p {
	color: var(--gray-200);
	font-weight: 400;
	line-height: 2.6rem;
	font-size: 1.6rem;
}

.button {
	background-color: var(--pink-200);
	padding: 1.2rem 3.2rem;
	border-radius: 32px;
	display: inline-block;

	margin: 3.6rem 0;

	cursor: pointer;
}

.button:hover,
.form button:hover {
	background-color: #cb7ea4;
}

.button a {
	text-decoration: none;
	color: var(--white);
	font-weight: 400;
}

.contact {
	margin-bottom: 4.8rem;
}

.contactInfo p:first-child {
	color: var(--pink-200);
	font-weight: bold;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	text-align: left;

	margin-bottom: 2rem;
}

.links a svg {
	color: var(--blue-100);
	font-size: 4.5rem;
	margin: 16px 0 32px;

	cursor: pointer;
}

.links a svg:hover {
	color: var(--blue-200);
}

a:focus {
	box-shadow: none;
}

.form,
.formInfo {
	display: flex;
	flex-direction: column;
}

.form input,
.form textarea {
	margin-bottom: 3.2rem;
	border-radius: 16px;
	border: 1px solid var(--gray-200);
	padding: 1.2rem;
}

.form input::placeholder,
.form textarea::placeholder {
	color: var(--gray-100);
}

.form textarea {
	height: 11.3rem;
}

.form label {
	margin-bottom: 0.5rem;
	color: var(--gray-200);
}

.form button {
	background: var(--pink-200);
	color: var(--white);
	padding: 1.2rem 3.2rem;
	border-radius: 32px;
	border: none;

	cursor: pointer;
}

.cardsContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 768px) {
	.wrapper {
		padding: 0 8rem;
	}

	.hero {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		flex-direction: row-reverse;
		text-align: left;
	}

	.hero img {
		width: 35rem;
	}

	.heroInfo {
		padding-top: 70px;
	}

	.cardsContainer {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2.4rem;
	}

	.contact {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}

	.contactInfo {
		padding: 2rem 4rem 0 0;
	}
}

@media (min-width: 1024px) {
	.wrapper {
		padding: 0 2rem;
	}

	.hero {
		display: flex;
		flex-direction: row;
		align-items: center;

		flex-direction: row-reverse;

		text-align: left;
	}

	.hero h1 {
		font-size: 3.2rem;
	}

	.hero img {
		width: 45rem;
	}

	button {
		font-size: 2.4rem;
	}

	.cardsContainer {
		grid-template-columns: 1fr 1fr 1fr;
	}
}
