:root {
	--white: #fff;
	--black: #09051d;

	--gray-100: #c4c4c4;
	--gray-200: #686868;

	--pink-100: #e09ad6;
	--pink-200: #be5e8e;
	--pink-hover: #b74c81;

	--lilac: #9e6eca;

	--blue-100: #a2d9e6;
	--blue-200: #1d5d96;

	font-size: 62.5%;
}

:focus {
	outline: 1px solid var(--pink-hover);
	outline-offset: 1px;
	box-shadow: 0 0 10px var(--pink-hover);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

#root {
	min-height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

body {
	background: var(--white);
	color: var(--gray-200);

	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 1.6rem;
}

a,
button {
	-webkit-tap-highlight-color: transparent;
	-tap-highlight-color: transparent;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px var(--pink-100);
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--pink-100);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--pink-200);
}
